body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

video {
    display: block;
    margin: auto;
}

.mainframe {
    max-width: 900px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #444444;
    position:relative;
}

.bio_info {
    display: block;
    max-width: 750px;
    margin: auto;
    border: 1px solid rgb(223, 220, 220);
}
